/* Standardmenü */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;

  }

  /* Sichtbarkeit der Hamburger-Menü-Icons sicherstellen */
  .menu-toggle {
    font-size: 50px;
    color: var(--text-color);
    position: fixed;
    top: -25px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
    display: none;
  }

  @media (max-width: 800px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--darker-background-color);
        position: absolute;
        top: 30px;
        right: 10px;
        width: 80%;
        border-radius: 5px;
        z-index: 1000;
      }
      .menu.active {
        display: flex;
      }
      .menu-toggle {
        display: block;
        font-size: 50px; /* Größerer Hamburger */
        color: var(--text-color);
        position:absolute; /* Fixiert für Sichtbarkeit */
        top: -25px;
        right: 15px;
        cursor: pointer;
        z-index: 2000; /* Über alles andere */
      }
      .menu li {
        margin: 10px 0;
        text-align: center;
      }

    }
